[Unit]
Description=Send email about watering status.

[Service]
Type=simple
Environment = 'PYTHONPATH=/home/pi/.local/lib/python3.5/site-packages'
EnvironmentFile = /home/pi/myLadybugHelper/env_variables/email.env
ExecStart=/usr/bin/python3 /home/pi/myLadybugHelper/should_i_water/send_mail_task.py
User=pi
