[Unit]
Description=Test environment variables
# Don't start the service until the network is up and running
After=network.target

[Service]
Type=simple
#Environment=PYTHONPATH=/home/pi/.local/lib/python3.5/site-packages
#Environment=OUTLOOK_USERNAME=thor_johnson@msn.com
#Environment=DATABASE_FILE=/home/pi/myLadybugHelper/databases/garden_readings.db
EnvironmentFile=/home/pi/myLadybugHelper/env_variables/environment_siw
ExecStart=/usr/bin/python3 /home/pi/myLadybugHelper/should_i_water/test_env.py
Restart=on-failure
User=pi

[Install]
# Components of this application should be started at boot time
WantedBy=multi-user.target
